{% extends "base.html" %}

{% block content %}
  <h2>edit comment</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>comment</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
      <input type="submit" value="Cancel" onclick="window.location='/blog/{{post.key().id()}}'; return false;">
    </form>
{% endblock %}
