{% extends "base.html" %}

{% block content %}

    <h2>Signup</h2>
    <form method="post">
      <div>
            <span class="signup_labels">Username</span>

            <input type="text" name="username" value="{{username}}">
          <span class="error">
            {{error_username}}
          </span>
      </div>

      <div>
            <span class="signup_labels">Password</span>
            <input type="password" name="password" value="">
          <span class="error">
            {{error_password}}
          </span>
        </div>

        <div>
            <span class="signup_labels">Verify Password</span>
            <input type="password" name="verify" value="">
          <span class="error">
            {{error_verify}}
          </span>
        </div>

        <div>
            <span class="signup_labels">Email (optional)</span>
            <input type="text" name="email" value="{{email}}">
          <span class="error">
            {{error_email}}
          </span>
        </div>

      <input type="submit">
    </form>

    <h2>Already a member? Then <a href="/blog/login">login</a></h2>

{% endblock %}
